<a href="https://colab.research.google.com/github/ssweta3seal/Python_Repository/blob/main/Functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

In [ ]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

In [ ]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Banglore")

name :  Jane
age :  35
city :  Banglore

In [ ]:
def swap_case(s): 
  swap=s.swapcase() 
  return swap
  print(s)  
  
s="HackerRank.com presents Pythonist 2"

In [ ]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [ ]:
f = lambda x, y : x + y

f(2,5)

7

# map-filter-reduce

In [ ]:
countries = ["India", "Japan", "Italy", "France"]
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [ ]:
# filter the countries names starting with "I"
list(filter(lambda x : x.startswith("I"), countries))

In [ ]:
#reduce the list to concatante the countries names into a single string variable seperated by " "

from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

In [ ]:
# Some more examples on map - filter - reduce
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

In [ ]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [ ]:
# Ex. Write a python program to count the students above age 18

students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

In [ ]:
# Reduce to return product of elements
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6

[3, 6, 9]